<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study">

    <!--WIFI相关权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--蓝牙相关权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--MEDIA权限-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".bluetooth.manage.BluetoothManager$SearchBluetoothDeviceReceiver">
            <intent-filter>
                <!-- 添加配对请求 -->
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
                <!-- 开始扫描附近的蓝牙设备 -->
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED" />
                <!-- 结束扫描附近的蓝牙设备 -->
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
                <!-- 扫描到蓝牙设备 -->
                <action android:name="android.bluetooth.device.action.FOUND" />
                <!--检索状态-->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <!--配对状态-->
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <!--连接状态-->
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".wifi.WifiMainActivity" />
        <activity android:name=".bluetooth.BluetoothActivity" />
    </application>

</manifest>